# - name: Install Jenkins only if needed
#   when: not skip_install | bool  # when this false it will install / bool is to make it boolean
#   block: 
# - name: Install wget 
#   ansible.builtin.dnf: 
#      name: wget 
#      state: latest

- name: Setting prompt name
  ansible.builtin.lineinfile:
     path: "/home/ec2-user/.bashrc"
     line: 'export PS1="\[\e[1;31m\]\u\[\e[0m\]@\[\e[1;34m\]{{ role_name }}\[\e[0m\] \w \$ "'
     create: true
     mode: '0644'
  
- name: Update system packages
  ansible.builtin.yum:
    name: '*'
    state: latest
    
- name: Installing firewalld
  ansible.builtin.dnf:
        name: firewalld
        state: latest
     

- name: Install Nginx
  ansible.builtin.dnf:
    name: nginx
    state: latest

- name: Copy nginx.conf
  ansible.builtin.template:
    src: nginx.conf
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode: '0644'
    
- name: Copy Nginx config files
  ansible.builtin.copy:
    src: "{{ item }}.conf"
    dest: /etc/nginx/conf.d/
    owner: root
    group: root
    mode: '0644'
  loop:
    - jenkins

- name: Enable and restart firewalld
  ansible.builtin.systemd:
    name: firewalld
    state: restarted
    enabled: true

- name: Open firewall ports
  ansible.builtin.shell: |
    firewall-cmd --zone=public --add-port=22/tcp --permanent
    firewall-cmd --zone=public --add-port=8080/tcp --permanent
    firewall-cmd --zone=public --add-port=80/tcp --permanent
    firewall-cmd --zone=public --add-port=443/tcp --permanent
    firewall-cmd --reload
  args:
    executable: /bin/bash
- name: Install hvac Python library
  ansible.builtin.pip:
        name: hvac
        executable: pip3

- name: Install collection  hashicorp vault.
  ansible.builtin.shell: ansible-galaxy collection install community.hashi_vault
  args:
    executable: /bin/bash
    
- name: Download and copy repo
  ansible.builtin.get_url:
   url: https://pkg.jenkins.io/redhat-stable/jenkins.repo
   dest: /etc/yum.repos.d/jenkins.repo
   mode:  '0774'
   
- name: Copy  Jenkins key
  ansible.builtin.shell: sudo rpm --import https://pkg.jenkins.io/redhat-stable/jenkins.io-2023.key
  
- name: Install Jenkins, fontconfig, openjdk
  ansible.builtin.dnf:
     name: 
       - fontconfig 
       - java-21-openjdk
       - jenkins
     state: present
     
- name: Create init.d directory
  ansible.builtin.file: 
    path: /var/lib/jenkins/init.groovy.d
    state: directory 
    owner: jenkins 
    group: jenkins 






- name: Install python3-pip on RedHat/CentOS/Fedora
  ansible.builtin.dnf:
    name: python3-pip
    state: present
    
# - name: Install collection  GCP community.
#   ansible.builtin.shell: ansible-galaxy collection install google.cloud

# - name: Install google-cloud-secret-manager Python package on control node
#   ansible.builtin.pip:
#     name: google-cloud-secret-manager
#     state: present
#     executable: pip3
#   run_once: true
  
# - name: Check if Ansible can read the service account file
#   ansible.builtin.stat:
#     path: /opt/service_account.json
#   register: sa_file
  
# - name: Show file permissions
#   debug:
#       var: sa_file.stat

# - name: Get secret value from GCP Secret Manager
#   google.cloud.gcp_secret_manager:
#     name: admin_user
#     project: 816983369694 #projectid 289923
#     state: present
#     version: latest
#     return_value: true
#     auth_kind: serviceaccount
#     service_account_file: "{{ sa_key_path }}"
#   register: username


# - name: Get secret value from GCP Secret Manager
#   google.cloud.gcp_secret_manager:
#     name: admin_password
#     project: 816983369694 #projectid 289923
#     state: present
#     version: latest
#     return_value: true
#     auth_kind: serviceaccount
#     service_account_file: "{{ sa_key_path }}"
#   register: password



   

- name: Copy Init groovy files 
  ansible.builtin.template: 
    src: "{{item}}.groovy"
    dest: /var/lib/jenkins/init.groovy.d/{{item}}.groovy
    owner: jenkins 
    group: jenkins 
    mode: '0644'
  loop: 
    - 01-skip-unlock 
    - 02-admin-user
    - 03-plugins 
    - 04-shared-library
    - 05-setup-credentials
    - 06-init
    
- name: Start Jenkins 
  ansible.builtin.systemd_service: 
    name: jenkins 
    state: restarted 
    enabled: yes
    
# can create jobs either using groovy scripts or  ansible copy xml
# # run jobs when needed 
# - name: Create jobs 
#   when: create_jobs | bool
#   ansible.builtin.include_tasks: 
#     file: mbranch-jobs.yml
#   loop: 
#      - { jobname: 'test-1' }

    
- name: Modify SElinux enable Nginx to connect the network 
  ansible.builtin.shell: setsebool -P httpd_can_network_connect 1

- name: Enable and restart nginx
  ansible.builtin.systemd: 
    name: nginx
    state: restarted
    enabled: true


- name: Enable and restart firewalld
  ansible.builtin.systemd:
    name: firewalld
    state: restarted
    enabled: true