


- name: Install jenkins  Python package for collection
  ansible.builtin.pip:
    name: python-jenkins
    state: present
    executable: pip3
  run_once: true

- name: Create Job file
  ansible.builtin.template: 
     src: mbranch.xml 
     dest: /tmp/mbranch.xml 
     
  # using ansible collection jenkins to create job
- name: Create Job from xml 
  community.general.jenkins_job: 
    config: "{{ lookup('file', '/tmp/mbranch.xml')}}"
    name: "{{ item.jobName }}"
    password: "password"
    url: "http://jenkins.manupanand.click:8080" # change url if needed
    user: "admin"
 
  