
- name: Setting prompt name
  ansible.builtin.lineinfile:
     path: "/home/ec2-user/.bashrc"
     line: 'export PS1="\[\e[1;31m\]\u\[\e[0m\]@\[\e[1;34m\]{{ role_name }}\[\e[0m\] \w \$ "'
     create: true
     mode: '0644'
- name: Installing firewalld
  ansible.builtin.dnf:
        name: firewalld
        state: latest

- name: Installing dnf-plugins-core
  ansible.builtin.dnf:
    name: dnf-plugins-core
    state: present

- name: Install Nginx
  ansible.builtin.dnf:
    name: nginx
    state: latest

- name: Copy nginx.conf
  ansible.builtin.template:
    src: nginx.conf
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode: '0644'

- name: Copy Elastic repository configuration
  ansible.builtin.copy:
    src: elasticsearch.repo
    dest: /etc/yum.repos.d/elasticsearch.repo

- name: Copy Nginx config files
  ansible.builtin.copy:
    src: "{{ item }}.conf"
    dest: /etc/nginx/conf.d/
    owner: root
    group: root
    mode: '0644'
  loop:
    - kibana
    - grafana
    - prometheus

- name: Enable and restart nginx
  ansible.builtin.systemd:
    name: nginx
    state: restarted
    enabled: true

- name: Enable and restart firewalld
  ansible.builtin.systemd:
    name: firewalld
    state: restarted
    enabled: true

- name: Open firewall ports
  ansible.builtin.shell: |
    firewall-cmd --zone=public --add-port=22/tcp --permanent
    firewall-cmd --zone=public --add-port=3000/tcp --permanent
    firewall-cmd --zone=public --add-port=80/tcp --permanent
    firewall-cmd --zone=public --add-port=443/tcp --permanent
    firewall-cmd --zone=public --add-port=9200/tcp --permanent
    firewall-cmd --zone=public --add-port=5601/tcp --permanent
    firewall-cmd --zone=public --add-port=9600/tcp --permanent
    firewall-cmd --zone=public --add-port=5044/tcp --permanent
    firewall-cmd --zone=public --add-port=5000/tcp --permanent
    firewall-cmd --zone=public --add-port=9300/tcp --permanent
    firewall-cmd --zone=public --add-port=9090/tcp --permanent
    firewall-cmd --reload
  args:
    executable: /bin/bash

- name: Download and extract Prometheus
  ansible.builtin.unarchive:
    src: https://github.com/prometheus/prometheus/releases/download/v3.7.3/prometheus-3.7.3.linux-amd64.tar.gz
    dest: /tmp
    remote_src: yes

- name: Create Prometheus user
  ansible.builtin.user:
    name: prometheus
    shell: /usr/sbin/nologin
    create_home: no
    system: yes

- name: Create Prometheus directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: prometheus
    group: prometheus
    mode: '0755'
  loop:
    - /etc/prometheus
    - /var/lib/prometheus

- name: Copy Prometheus binaries
  ansible.builtin.copy:
    src: "/tmp/prometheus-3.7.3.linux-amd64/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    owner: prometheus
    group: prometheus
    mode: '0755'
    remote_src: yes
  loop:
    - prometheus
    - promtool

- name: Copy Prometheus configuration
  ansible.builtin.copy:
    src: "/tmp/prometheus-3.7.3.linux-amd64/prometheus.yml"
    dest: /etc/prometheus/prometheus.yml
    owner: prometheus
    group: prometheus
    mode: '0644'
    remote_src: yes

- name: Copy Prometheus systemd service
  ansible.builtin.copy:
    src: prometheus.service
    dest: /etc/systemd/system/prometheus.service
    owner: root
    group: root
    mode: '0644'

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: true

- name: Enable and start Prometheus
  ansible.builtin.systemd:
    name: prometheus
    enabled: true
    state: started


# - name: Install Grafana

- name: Import Grafana GPG key
  ansible.builtin.rpm_key:
    state: present
    key: https://rpm.grafana.com/gpg.key

- name: Copy Grafana repository configuration
  ansible.builtin.copy:
    src: grafana.repo
    dest: /etc/yum.repos.d/grafana.repo

- name: Install Grafana
  ansible.builtin.dnf:
    name: grafana
    state: latest
- name: Enable Grafana 
  ansible.builtin.systemd:
     name:  grafana-server
     enabled: true
     state: started
          
 # - name: Install elastic
- name: Import Elastic search GPG key
  ansible.builtin.rpm_key:
    state: present
    key: https://artifacts.elastic.co/GPG-KEY-elasticsearch
- name: Install Elastc search
  ansible.builtin.dnf: 
    name: elasticsearch
    state: latest

- name: Install Kibana
  ansible.builtin.dnf: 
    name: kibana
    state: latest
- name: Install logstash
  ansible.builtin.dnf: 
    name: logstash
    state: latest
  
   
- name: Enable  firewalld
  ansible.builtin.systemd_service: 
   name:  firewalld
   state: restarted
   enabled: true 
   
   